.subscribe {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.subscribe__card {
  background-color: blue;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(16, 37.79, 73.31, 0.06);
  color: white;
  width: 70%;
  margin: auto;
  padding: 60px;
  display: flex;
  justify-content: center;
}

.brand img {
  width: 250px;
}

.subscribe__info {
  padding: 50px;
}

h4 {
  font-weight: 600;
}

.email {
  display: flex;
  margin-top: 20px;
  background-color: white;
  width: 80%;
}

.email input {
  width: 83%;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px;
}

.email button {
  border: none;
  background-color: #ffb800;
  padding: 5px;
  cursor: pointer;
  margin: 1px;
}

@media (max-width: 768px) {
  .mobile__view {
    width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(16, 37.79, 73.31, 0.06);
    text-align: center;
    color: white;
  }
  .subscribe__card {
    display: none;
  }
  .mobile__view .frame {
    margin: 20px 110px;
    width: 150px;
  }
  .mobile__view .button__icon {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .mobile__view .button {
    width: 30px;
    padding: 5px;
    margin: 0 5px;
  }
  .mobile__view button {
    background-color: white;
    border: none;
  }

}



  